/* style.css */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #f4f4f4;
    --text-color: #333;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
}

h1, h2, h3 {
    font-weight: 700;
    color: var(--primary-color)
}

header {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--secondary-color)
}

main {
    max-width: 800px;
    margin: 0 auto;
}

footer {
    text-align: center;
    margin-top: 40px;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project {
    background-color: cornsilk;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: justify; 
}

.project img {
    transition: transform 0.3s ease;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.project img:hover {
    transform: scale(1.05);
    border: 2px solid #007bff;
}

a:hover {
    color: #007bff;
    text-decoration: underline;
}

.project h3 {
    font-size: 1.5em;
    margin-top: 10px;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #007bff;
    color: white;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}